@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-btn {
  @apply mr-5 px-3 py-2 hover:bg-gray-800 text-gray-800 hover:text-gray-100 font-medium rounded duration-150 ease-in-out cursor-pointer;
}
